@charset "utf8";

#pokemonAnalyzer {
	margin: 50px auto;
	max-width: 1200px;
	#canvas {
		display: block;
		border: 1px black solid;
		width: 100%;
		max-width: 500px;
		margin: 25px auto;
		aspect-ratio: 1 / 1;
	}
	#toolBox {
		display: grid;
		grid-template-columns: 3fr 1fr;
		grid-column: 2fr 1fr;
		max-width: 700px;
		margin: 25px auto;
		padding: 25px;
		border: 1px black solid;
		background-color: azure;
		#colorBoxes {
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 1;
			grid-row-end: 2;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			div {
				width: 25px;
				aspect-ratio: 1 / 1;
				border-radius: 50%;
				border: 2px gray solid;
				margin: 5px;
				cursor: pointer;
				&.selected {
					width: 35px;
				}
			}
		}
		#redo-undoBox {
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 1;
			grid-row-end: 2;
			display: flex;
			justify-content: space-around;
			align-items: center;
			img {
				display: block;
				position: relative;
				width: 30px;
				border: 1px black solid;
				border-radius: 20%;
				background-color: rgba(white, 0.7);
				box-shadow: 1px 1px gray;
				cursor: pointer;
				&:hover {
					background-color: lightgoldenrodyellow;
					box-shadow: none;
				}
			}
		}
		#boldBox {
			grid-column-start: 1;
			grid-column-end: 3;
			grid-row-start: 2;
			grid-row-end: 3;
			display: flex;
			#boldChanger {
				display: block;
			}
			#boldSampleBox {
				max-width: 50px;
				aspect-ratio: 1 / 1;
			}
		}
	}
}


